:root {
    --orange: #F2441D;
    --light-orange: #F45A38;
    --extra-light-orange: #F7866D;
    --dark-orange: #9D2C13;
    
    --salmon: #F8A18E;
    --light-salmon: #F9AC9B;
    --extra-light-salmon: #FAC2B6;
    --dark-salmon: #A0685C;
    
    --yellow: #F2C84B;
    --light-yellow: #F7DB8B;
    --extra-light-yellow: #FBEFCA;
    --dark-yellow: #9D8131;
    
    
    --mustard-yellow: #F2AE2E;
    --light-mustard-yellow: #F7CB78;
    --extra-light-mustard-yellow: #FBE7C2;
    --dark-mustard-yellow: #CA9E4B;
    
    --cappuccino: #9D9078;
    --light-cappuccino: #C0B7A8;
    --extra-light-cappuccino: #E2DED7;
    --dark-cappuccino: #665D4E;
    
    --olive: #433C2F;
    --light-olive: #4E473B;
    --extra-light-olive: #645E54;
    --dark-olive: #2B271E;
    
    --chocolate: #2B2523;
    --light-chocolate: #373230;
    --extra-light-chocolate: #443F3D;
    --dark-chocolate: #1C1817;
    
    --poison-green: #C0ED2F;
    --light-poison-green: #C7EF47;
    --extra-light-poison-green: #D6F378;
    --dark-poison-green: #B1D342;
    
    --green: #121607;
    --light-green: #202416;
    --extra-light-green: #2E3124E5;
    --dark-green: #0E1105;
    
    --almost-white: #E4E4E4;
    --dark-almost-white: #D1D1D1;

    --icon-dark: var(--green);
    --icon-light: var(--almost-white);
    --icon-orange: var(--orange);
}
