/* MaintainText.module.css */
.text-header-container {
    display: flex;
    bottom: -20px;
    position: absolute;
    align-content: flex-end;
    align-items: baseline;
    z-index: 1;
}

/* Individual letter styling to create the geometric effect */
.m {
    color: #c5ff00;
    font-size: 180px;
    position: relative;
    line-height: 1;
    transform-origin: center center;
}

.a {
    color: #c5ff00;
    font-size: 140px;
    position: relative;
    line-height: 1;
    transform-origin: center center;
}

.i {
    color: #c5ff00;
    font-size: 180px;
    position: relative;
    line-height: 1;
    transform-origin: center center;
}

.n {
    color: #c5ff00;
    font-size: 160px;
    position: relative;
    line-height: 1;
    transform-origin: center center;
}

.t {
    color: #c5ff00;
    font-size: 200px;
    position: relative;
    line-height: 1;
    transform-origin: center center;
}

.a2 {
    color: #c5ff00;
    font-size: 180px;
    position: relative;
    line-height: 1;
    transform-origin: center center;
}

.i2 {
    color: #c5ff00;
    font-size: 170px;
    position: relative;
    line-height: 1;
    transform-origin: center center;
}

.n2 {
    color: #c5ff00;
    font-size: 140px;
    position: relative;
    line-height: 1;
    transform-origin: center center;
}